@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed, sans-serif;
    /* border: .1rem solid red; */
}
.root{
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white:#ffffff;
    --dark-gray: #333333;
    --light-gray: #f5f5f5;
}

body{
   background-color: #fffdf7;

   
}


/* BASCI STYLING */
a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
}
li{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.wapper{
    max-width: 1400px;
      padding-inline: 1.5rem;
    margin: auto;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}
p{
    font-size: 1.2rem;
    color: gray;
    font-weight: 400;
    
   
}
.p-top{
    padding-top: 10rem;
}
.text-center{
    text-align: center;
}
.mt-4{
    margin-top: 4rem;
}
.mt-one-half{
    margin-top: 0.5rem;
}
.m-auto{
    margin: auto;
}
.m-one-half{
    margin-top: 1.5rem;
}
.pd{
    padding-left: 4rem;
    padding-right: 4rem;
}



/* HEADER STYLING */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 999;
}
.navbar{
    min-width: 14vh;
    height: 50px;
   
 
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #f2bd12;
}
.btn{
    display: inline-block;
    padding: 0.6rem 1.8rem;
    background-color: #f2bd12;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: white;
    box-shadow: rgb(17, 15, 15) 0px 2px 2px 1px;
    transition:  0.3s ease-in-out;
}
.btn:hover{
    background-color: #12f23f;
   
}
.cart-icon{
   position: relative;
    font-size: 1.5rem;
    color: var(--lead);
}
.cart-icon .cart-value{
    position: absolute;
    width: 20px;
    aspect-ratio: 1;
    background-color: #f2bd12;
    border-radius: 100vw;
    font-size: 0.8rem;
    color: white;
    text-align: center;
   line-height: 20px;
    top: 50%;
    right: -10px;
}

 .desktop-action .hamburger{
    display: none;
    font-size: 1.5rem;
   
}
.mobile-menu{

    display: none;
}



/* SECTION STYLING */
.hero-section {
    /* background: gold; */
    min-height: calc(100vh - 14vh);
   
}
.content,.image-container, .service-card{
    flex: 1;
    flex-basis: 300px;
}
.image-container img{
    width: 80%;
}
.content h1{
    font-size: 5.6rem;
    color: #212121;
    /* margin-bottom: 1rem;
*/}
h1 span{
    color: #f2bd12;
}
.content p{
    font-size: 1.2rem;
    color: gray;
    font-weight: 400;

   
}
.pera{
    margin-block: 2rem;
    max-width: 550px;
}
.socal-icon {
    
  background-color:#d2ba6d;
  width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px, 
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}
.socal-icon:hover{
    background-color: #6bb35e;
  color: white;
}

/* section one */


 h5{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #f2bd12;
    text-transform: uppercase;
}
 h2{
    font-size: 3.0rem;
    color: #121212;
   text-transform: capitalize;
}
h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: #121212;
}
.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* section 2 */
.order-card{
    flex: 1;
padding: 0 1rem 2rem 1rem;
    flex-basis: 300px;
    background-color: white;
    background: #ffffff;
      border: .1rem solid #f2bd12;
      border-radius: 2rem;
        box-shadow:  rgba(0, 0, 0, 0.05) 8px 8px 8px, 
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}
.order-card img{
    width: 10rem;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}
.order-card h4{
 
    font-size: 1.8rem;
    color: #121212;
}
.order-card .price{
    font-size: 1.5rem;
    color: #f2bd12;
   padding: 1.2rem 0 2rem 0;
   
}
/* cart tab styling */
.cart-tab{
    background: #fcf1cc;
   position: fixed;
   inset: 0 -500px 0 auto;
   width: 24rem;
   padding-block: 2rem;
   display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 99;
    box-shadow: rgb(0, 0, 0,0.1) -10px -10px 20px;

}
.cart-tab-active{
    inset: 0 0 0 auto;
    transition: 0.3s ease-in-out;
}
.cat-tab h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.cart-list{
    margin-top: 1.5rem;
    flex: 1;
width: 100%;
    overflow-y: auto;

}
.cart-list::-webkit-scrollbar{
    width: 0rem;
}
.total-container{
    width: 100%;
    background: #f2bd12;
    margin-block: 1rem;
    padding: 1rem ;
}
.total-container h4{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
}
.btn-container{
    text-align: center;
    margin-left: 50px;
}
.btn-container .btn{
    background: #212121;
    transition: 0.3s ease-in-out;
  
}
.btn-container .btn:hover{
    background: #f2bd12;
    color: #212121;
}

.item{
    display: flex;
    align-items: center;
    gap: .8rem;
   padding: .7rem 1rem;
   transition: .5s ease-in-out;
}
.item .slide-out{
    transform: translate(50%);
}
.cart-list .item:nth-child(even){
    background: #f5f5f5;
}
.item .item-image img{
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
}
   .item .item-details{
    flex: 2;
   } 

.item h4{
    font-size: 1.3rem;
    color: #212121;
}
.item .item-total{
   font-weight: 400;
   margin-top: .3rem;
}
.quantity-btn{
    background: #212121;
    color: white;
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;
}
.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}


/* section 3 */
.sec3{
    display: flex;
} 
.image {
    width: 40%;
  
    padding: 0%;
 
}
.swiper {
      width: 100%;
      height: 100%;
    }
.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-star{
    color: #f2bd12;
}
.review-container{
    max-width: 100%;
    width: 650px;
  
}
.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: #f2bd12;
    color: #212121;
    text-align: center;
    line-height: 2.5rem;
}


/* section 4 */ 
.app-container{
background:   #ecd587;
padding: 3rem 6rem;
border-radius: 3rem;
   

}
.app-container h2{
    font-size: 4.5rem;
}

.app-container .image-container img{
    width: 25rem;
}
/* section 5 */

.input-container{
    width: 43rem;
    max-width: 100%;
    background: #ffffff;
    padding: 0.8rem;
    box-shadow: rgb(0, 0, 0,0.1) 0px 5px 8px;
    border-radius: 2rem;
}
input[type="email"]{
    flex: 1;
    height: 6.5vh;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding-left: 1rem;
}
input[type="email"]:focus{
    outline: none;}


/* FOOTER STYLING */
.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background:  #fcf1cc;
}
.footer-container .flex{
    align-items: flex-start;
}
.footer-wrapper{
    flex: 1;
    flex-basis: 150px;
}
.footer-wrapper:nth-child(1){
    flex: 2.3;
    flex-basis: 300px;
}
.footer-wrapper .socal-icon{
    background-color: #ffffff;
}
.footer-wrapper .socal-icon:hover{
    background-color: #212121;
  color: white;
}
.footer-link{
    color: gray;
    font-size: 1.1rem;
}
.footer-link:hover{
    color: #212121;
   
}
.footer-wrapper h4{
    font-size: 1.5rem;
    color: #212121;
    margin-bottom: 1.5rem;
}






/* media queries */


@media screen and (max-width: 800px){
    /* HEADER STYLING */
    
    .navlist, .desktop-action .btn{
        display: none;
    }
    .desktop-action .hamburger{
        display: block;
    }
    .mobile-menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: absolute;
      top: 20%;
      left: -100%;
      transform: translate(-50%);
      width: 20rem;
      padding: 2rem ;
      background: #ffffff;
      border: .1rem solid #f2bd12;
      border-radius: 2rem;
        box-shadow:  rgba(0, 0, 0, 0.05) 8px 8px 8px, 
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        transition: 0.5s ease-in-out;

    }
    .mobile-menu-active{
        left: 50%;
        transition: 0.5s ease-in-out;
        transform: translate(-50%);
    }
   /* section styling */

   h1{
    font-size: 3.6rem;

   }
   .content{
    padding-top: 3rem;
    
   }
   .gap-2{
    gap: 1.4rem;
   }
   .gap-4{
    gap: 4rem;
   }
   /* section one */

   h2{
    font-size: 3rem;
   }
   /* section 4 */
   .app-container{
    padding: 2.2rem;

   }
    .app-container h2{
     font-size: 3.5rem;
    }
}